<link rel="stylesheet" href="/css/creditors.css">

<section id="creditor-list-page">
    <div id="creditor-search-container">
        <div id="search-cont" class="flex-left">
            <div>
                <input type="text" class="form-control" onkeyup="tablesearch()" name="search-input" id="search-input" placeholder="search">
            </div>
        </div>
        <div id="new-creditor-btn-cont" class="flex-right">
            <div>
                <a href="/creditor/new" class="btn">
                    create new creditor
                </a>
            </div>

        </div>
    </div>
    
    <div id="creditor-list-container">
        <table class="table table-hover table-sm table-sortable" id="listTable">
            <thead class="thead-dark">
                <tr>
                    <th data-sort="string">Name</th>
                    <th data-sort="int">Amount Taken</th>
                    <th data-sort="int">Amount Return</th>
                    <th data-sort="int">Still Pending</th>
                    <th data-sort="date">payment date</th>
                    <th data-sort="date">Credit date</th>
                    <th >Make Payment</th>
                    <th >Date</th>


                    <th data-sort="string">Profile</th>
                </tr>
            </thead>
            <tbody>
                <%- include('partials/creditor_list.ejs') %>
            </tbody>

        </table>

    </div>
</section>
<script src="/js/tablesearch.js"></script>