<link rel="stylesheet" href="/css/creditors.css">

<section id="creditor-list-page">
    <div id="creditor-list-container">
        <table class="table table-hover table-sm table-sortable">
            <thead class="thead-dark">
                <tr>
                    <th data-sort="string">Name</th>
                    <th data-sort="int">Intrest</th>
                    <th data-sort="int">Intrest Rate</th>
                    <th data-sort="int">Amount Taken</th>
                    <th data-sort="date">payment date</th>
                    <th data-sort="date">Credit date</th>
                    <th data-sort="string">Guarantor</th>
                    <th data-sort="string">Profile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Predeep jat</td>
                    <td>1234567890</td>
                    <td>1200</td>
                    <td>6</td>
                    <td>2021-04-18</td>
                    <td>Saurabh Singh</td>
                    <td><a class="btn" href="/creditor/profile">view profile</a></td>
                </tr>
            </tbody>

        </table>

    </div>
</section>