<link rel="stylesheet" href="/css/debitors.css">
<link rel="stylesheet" href="/css/common.css">


<section id="debitor-list-page">
    <div id="debitor-search-container">
        <div id="search-cont" class="flex-left">
            <div>
                <input type="text" class="form-control" onkeyup="tablesearch()" name="search-input" id="search-input" placeholder="search">
            </div>
        </div>
        <div id="new-debitor-btn-cont" class="flex-right">
            <div>
                <a href="/debitor/new" class="btn">
                    create new debitor
                </a>
            </div>

        </div>
    </div>


    <div id="debitor-list-container cont">
        <table class="table table-sortable table-hover" id="listTable">
            <thead class="thead-dark">
                <tr>
                    <th data-sort="string">Name</th>
                    <th data-sort="int">Number</th>
                    <th data-sort="int">Amount pending</th>
                    <th data-sort="int">Installments Due</th>
                    <th data-sort="date">Last payment</th>
                    <th data-sort="string">Guarantor</th>
                    <th data-sort="string">Profile</th>
                </tr>
            </thead>
            <tbody>
                <%- include('partials/debitor_list.ejs') %>

            </tbody>

        </table>

    </div>
</section>
<script src="/js/tablesearch.js"></script>