<link rel="stylesheet" href="/css/debitors.css">

<section id="debitor-list-page">
    <div id="debitor-list-container">
        <table class="table table-hover table-sm table-sortable">
            <thead class="thead-dark">
                <tr>
                    <th data-sort="string">Name</th>
                    <th data-sort="int">Number</th>
                    <th data-sort="int">Amount pending</th>
                    <th data-sort="int">Installmet Due</th>
                    <th data-sort="date">Last payment</th>
                    <th data-sort="string">Guarantor</th>
                    <th data-sort="string">Profile</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Predeep jat</td>
                    <td>1234567890</td>
                    <td>1200</td>
                    <td>6</td>
                    <td>2021-04-18</td>
                    <td>Saurabh Singh</td>
                    <td><a class="btn" href="/debitor/profile">view profile</a></td>
                </tr>
            </tbody>

        </table>

    </div>
</section>