<link rel="stylesheet" href="/<%= assetPath('css/new_debitor.css') %>">
<section id="new_creditor">
    <div class="box">
        <div class="form-heading">
            Create a new Debitor
        </div>
        <div class="form-container">
            <form action="/debitor/new-info-init" method="post">
                <div class="form-group col-md-3">
                    <input type="text" name="deb-name" id="deb-name" placeholder="Name.." class="form-control" required>    
                    <label for="deb-name">Name of Amount taker*</label>
                </div >

                <div class="form-group col-md-3">
                  <input type="text" name="deb-user-name" id="deb-user-name" placeholder="Name.." class="form-control" required>    
                  <label for="deb-user-name">Username (unique)*</label>
              </div >

                <div class="form-group col-md-3">
                    <input type="number" name="deb-mob-1" id="deb-mob-1" placeholder="Mobile Number" class="form-control" required>                    
                    <label for="deb-mob-1">Mobile Number</label>
                </div>

                <div class="form-group col-md-3">
                    <input type="number" name="deb-mob-2" id="deb-mob-2" class="form-control" placeholder="Mobile Number">                    
                    <label for="deb-mob-2">Mobile Number Alt-1</label>
                </div>

                <div class="form-group col-md-3">
                  <input type="number" name="deb-mob-3" id="deb-mob-3" class="form-control" placeholder="Mobile Number">
                  <label for="deb-mob-3">Mobile Number Alt-2</label>
                </div>
                
                <div class="form-group col-md-3">
                  <input type="text" name="deb-shop" id="deb-shop" class="form-control" placeholder="Shop...">
                  <label for="deb-shop">Shop</label>
                </div>

                <div class="form-group col-md-3">                
                  <input type="text" name="deb-address" id="deb-address" required class="form-control">
                  <label for="deb-address">Address</label>
                </div>

                <div class="form-group col-md-3">
                  <input type="text" name="deb-guar-name" id="deb-guar-name" class="form-control" placeholder="Name">
                  <label for="deb-guar-name">Guarentor Name</label>
                </div>

                <div class="form-group col-md-3">
                  <input type="number" name="deb-guar-mob-1" id="deb-guar-mob-1" class="form-control" placeholder="Mobile Number">
                  <label for="deb-guar-mob-1">Guarentor Number</label>
                </div>

                <div class="form-group col-md-3">
                  <input type="number" name="deb-guar-mob-2" class="form-control" id="deb-guar-mob-2" placeholder="Mobile Number">
                  <label for="deb-guar-mob-2">Guarentor Number Alt-1</label>
                </div>

                <div class="form-group col-md-3">
                  <input type="number" name="deb-guar-mob-3" id="deb-mob-guar-3" class="form-control" placeholder="Mobile Number">
                  <label for="deb-guar-mob-3">Guarentor Number Alt-2</label>
                </div>

                <div class="form-group col-md-3">
                  <input type="text" name="deb-comment" id="deb-comment" class="form-control" placeholder="Comment">
                  <label for="deb-comment">Comment</label>
                </div>
                
                <div class="form-group col-md-3">
                  <input type="submit" value="Create New Debitor" class="btn">
                </div>
            </form>
        </div>
    </div>
</section>

