<link rel="stylesheet" href="/css/new_creditor.css">
<section id="new_creditor">
    <div class="box">
        <div class="form-heading">
            Create a new Creditor
        </div>
        <div class="form-container">
            <form action="" method="post">
                <div class="form-group col-md-3">
                    <label for="cred-name">Name of Creditor*</label>
                    <input type="text" name="cred-name" id="cred-name" placeholder="Name.." class="form-control" required>    
                </div >

                <div class="form-group col-md-3">
                    <label for="cred-mob-1">Mobile Number</label>
                    <input type="number" name="cred-mob-1" id="cred-mob-1" placeholder="Mobile Number" class="form-control" required>                    
                </div>

                <div class="form-group col-md-3">
                    <label for="cred-mob-2">Mobile Number Alt-1</label>
                    <input type="number" name="cred-mob-2" id="cred-mob-2" class="form-control" placeholder="Mobile Number">                    
                </div>

                <div class="form-group col-md-3">
                  <label for="cred-mob-3">Mobile Number Alt-2</label>
                  <input type="number" name="cred-mob-3" id="cred-mob-3" class="form-control" placeholder="Mobile Number">
                </div>
                
                <div class="form-group col-md-3">
                  <label for="cred-shop">Shop</label>
                  <input type="text" name="cred-shop" id="cred-shop" class="form-control" placeholder="Shop...">
                </div>

                <div class="form-group col-md-3">                
                  <label for="cred-address">Address</label>
                  <input type="text" name="cred-address" id="cred-address" required class="form-control">
                </div>

                <div class="form-group col-md-3">
                  <label for="cred-comment">Comment</label>
                  <input type="text" name="cred-comment" id="cred-comment" class="form-control" placeholder="Comment">
                  </div>
                
                <div class="form-group col-md-3">
                  <input type="submit" value="Create New creditor" class="btn">
                </div>
            </form>
        </div>
    </div>
</section>

