<link rel="stylesheet" href="/<%= assetPath('css/new_creditor.css') %>">
<section id="new_creditor">
    <div class="main">
      <h3>Create a new Creditor</h3>
        <div class="form-container cont-top-28">
            <form action="/creditor/new-info-init" method="post">
                <div class="form-group ">
                    <input type="text" name="cred-name" id="cred-name" placeholder="Name.." class="form-control" required>    
                    <label for="cred-name">Name of Creditor*</label>
                </div >

                <div class="form-group ">
                  <input type="text" name="cred-user-name" id="cred-user-name" placeholder="Name.." class="form-control" required>    
                  <label for="cred-user-name">Username (unique)*</label>
              </div>

                <div class="form-group ">
                    <input type="number" name="cred-mob-1" id="cred-mob-1" placeholder="Mobile Number" class="form-control" required>                    
                    <label for="cred-mob-1">Mobile Number</label>
                </div>

                <div class="form-group ">
                    <input type="number" name="cred-mob-2" id="cred-mob-2" class="form-control" placeholder="Mobile Number">                    
                    <label for="cred-mob-2">Mobile Number Alt-1</label>
                </div>

                <div class="form-group ">
                  <input type="number" name="cred-mob-3" id="cred-mob-3" class="form-control" placeholder="Mobile Number">
                  <label for="cred-mob-3">Mobile Number Alt-2</label>
                </div>
                
                <div class="form-group ">
                  <input type="text" name="cred-shop" id="cred-shop" class="form-control" placeholder="Shop...">
                  <label for="cred-shop">Shop</label>
                </div>

                <div class="form-group ">                
                  <input type="text" name="cred-address" id="cred-address" required class="form-control">
                  <label for="cred-address">Address</label>
                </div>

                <div class="form-group ">
                  <input type="text" name="cred-comment" id="cred-comment" class="form-control" placeholder="Comment">
                  <label for="cred-comment">Comment</label>
                  </div>
                
                <div class="form-group ">
                  <input type="submit" value="Create New creditor" class="btn">
                </div>
            </form>
        </div>
    </div>
</section>

