<link rel="stylesheet" href="<%= assetPath('css/overViewList.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/common.css') %>">
overview list

<section id="overview_list">
    <div id="overview-search-container">
        <div id="search-cont" class="flex-left">
            <div>
                <input type="text" class="form-control" onkeyup="tablesearch()" name="search-input" id="search-input" placeholder="search">
            </div>
        </div>
        <div id="new-debitor-btn-cont" class="flex-right">
            <div>
                <a href="/debitor/new" class="btn">
                    create new debitor
                </a>
            </div>

        </div>
    </div>

    <div id="overview-list-container transaction-table">
        <table class="table table-hover table-sm table-sortable" id="listTable">
            <thead class="thead-dark">
                <tr>
                    <th data-sort="string">Name</th>
                    <th data-sort="string">Type</th>
                    <th data-sort="date">start date</th>
                    <th data-sort="int">Amount Left</th>
                    <!-- <th data-sort="int">Kist amount</th> -->
                    <th>Recive Payment</th>
                    <th>date</th>
                    <th>Notification</th>
                </tr>
            </thead>
            <tbody>
                <%- include('partials/overview_par_list.ejs') %>


            </tbody>
        </table>

    </div>


</section>
<script src="<%= assetPath('js/tablesearch.js') %>"></script>