<link rel="stylesheet" href="/css/signin.css">

    <main>
        
        <div id="signin-block">
            <form action="/user/create-user" method="post">
                <input type="text" name="name" id="name" placeholder="Enter your name">
                <input type="email" name="email" id="email" placeholder="Enter your e-mail">
                <input type="password" name="password" id="password" placeholder="Enter your password">
                <input type="password" name="confirm_password" id="confirm-password" placeholder="Re - Enter your password">
                <input type="number" name="number" id="number" placeholder=" Enter your Number">
                <input type="submit" value="submit">

            </form>


        </div>
    </main>