<link rel="stylesheet" href="/css/transactions.css">
<section id="transaction-list-page">
    <div id="transaction-list-container">
        <table class="table table-hover table-sm table-sortable">
            <thead class="thead-dark">
                <tr>
                    <th data-sort="string">Name</th>
                    <th data-sort="int">Amount</th>
                    <th data-sort="string">Type</th>
                    <th data-sort="date">Date of payment</th>
                    <th>Comment</th>
                    <th>Notification</th>
                </tr>
            </thead>
            <tbody>
                <a href="/creditor/profile">
                <tr>
                    <td>Pradeep Jat pro</td>
                    <td>1250</td>
                    <td>Credit</td>
                    <td>2021-04-18</td>
                    <td> 
                        <input type="text" name="transaction-comment" id="comment" placeholder="add your comment here">
                        <a href=""><span class="iconify" data-icon="bi:arrow-down-circle-fill" style="color: green;"></span></a>
                    </td>
                    <td>
                        <a href="">
                            <span class="iconify" data-icon="uil:whatsapp-alt" style="color: green;" data-width="30" data-height="30"></span>
                        </a>
                        <a href="">
                            <span class="iconify" data-icon="ant-design:message-filled" style="color: #000400;" data-width="30" data-height="30"></span>
                        </a>
                    </td>

                </tr>
                </a>
                <tr>
                    <td>Sandeep Jat</td>
                    <td>250</td>
                    <td>Recived</td>
                    <td>2021-04-14</td>
                    <td> 
                        <input type="text" name="transaction-comment" id="comment" placeholder="add your comment here">
                        <a href=""><span class="iconify" data-icon="bi:arrow-down-circle-fill" style="color: green;"></span></a>
                    </td>
                    <td>
                        <a href="">
                            <span class="iconify" data-icon="uil:whatsapp-alt" style="color: green;" data-width="30" data-height="30"></span>
                        </a>
                        <a href="">
                            <span class="iconify" data-icon="ant-design:message-filled" style="color: #000400;" data-width="30" data-height="30"></span>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td>Aman Sharma</td>
                    <td>150</td>
                    <td>Penalty</td>
                    <td>2021-04-19</td>
                    <td> 
                        <input type="text" name="transaction-comment" id="comment" placeholder="add your comment here">
                        <a href=""><span class="iconify" data-icon="bi:arrow-down-circle-fill" style="color: green;"></span></a>
                    </td>
                    <td>
                        <a href="">
                            <span class="iconify" data-icon="uil:whatsapp-alt" style="color: green;" data-width="30" data-height="30"></span>
                        </a>
                        <a href="">
                            <span class="iconify" data-icon="ant-design:message-filled" style="color: #000400;" data-width="30" data-height="30"></span>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td>Dinesh Pareek</td>
                    <td>120</td>
                    <td>discount</td>
                    <td>2021-04-13</td>
                    <td> 
                        <input type="text" name="transaction-comment" id="comment" placeholder="add your comment here">
                        <a href=""><span class="iconify" data-icon="bi:arrow-down-circle-fill" style="color: green;"></span></a>
                    </td>
                    <td>
                        <a href="">
                            <span class="iconify" data-icon="uil:whatsapp-alt" style="color: green;" data-width="30" data-height="30"></span>
                        </a>
                        <a href="">
                            <span class="iconify" data-icon="ant-design:message-filled" style="color: #000400;" data-width="30" data-height="30"></span>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td>Pradeep Jat</td>
                    <td>1250</td>
                    <td>Credit</td>
                    <td>2021-04-18</td>
                    <td> 
                        <input type="text" name="transaction-comment" id="comment" placeholder="add your comment here">
                        <a href=""><span class="iconify" data-icon="bi:arrow-down-circle-fill" style="color: green;"></span></a>
                    </td>
                    <td>
                        <a href="">
                            <span class="iconify" data-icon="uil:whatsapp-alt" style="color: green;" data-width="30" data-height="30"></span>
                        </a>
                        <a href="">
                            <span class="iconify" data-icon="ant-design:message-filled" style="color: #000400;" data-width="30" data-height="30"></span>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td>Pradeep Jat</td>
                    <td>1250</td>
                    <td>Credit</td>
                    <td>2021-04-18</td>
                    <td> 
                        <input type="text" name="transaction-comment" id="comment" placeholder="add your comment here">
                        <a href=""><span class="iconify" data-icon="bi:arrow-down-circle-fill" style="color: green;"></span></a>
                    </td>
                    <td>
                        <a href="">
                            <span class="iconify" data-icon="uil:whatsapp-alt" style="color: green;" data-width="30" data-height="30"></span>
                        </a>
                        <a href="">
                            <span class="iconify" data-icon="ant-design:message-filled" style="color: #000400;" data-width="30" data-height="30"></span>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</section>