<link rel="stylesheet" href="/<%= assetPath('css/transactions.css') %>">
<section id="transaction-list-page">
    <div id="overview-search-container">
        <div id="search-cont" class="flex-left">
            <div>
                <input type="text" class="form-control" onkeyup="tablesearch()" name="search-input" id="search-input" placeholder="search">
            </div>
        </div>

    </div>
    <div id="transaction-list-container">
        <table class="table table-hover table-sm table-sortable" id="listTable">
            <thead class="thead-dark">
                <tr>
                    <th data-sort="string">Name</th>
                    <th data-sort="int">Amount</th>
                    <th data-sort="string">Type</th>
                    <th data-sort="date">Date of payment</th>
                    <th>Comment</th>
                    <th>Notification</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <%- include('partials/transactions_list.ejs') %>
            </tbody>
        </table>

    </div>
</section>
<script src="/<%= assetPath('js/tablesearch.js') %>"></script>