<form action="/user/init-money" method="post">
    <div class="form-group col-md-3">
        <label for="self_input">Amount Personal*</label>
        <input type="number" name="self_input" id="self_input" placeholder="Amount personal" class="form-control" required>    
    </div >

    <div class="form-group col-md-3">
        <label for="market_borrow">Market Borrow</label>
        <input type="number" name="market_borrow" id="market_borrow" placeholder="Market " class="form-control" required>                    
    </div>

    <div class="form-group col-md-3">
        <label for="invested_in_market">invested in market(given loan) all time</label>
        <input type="number" name="invested_in_market" id="invested_in_market" class="form-control" placeholder="given loan">                    
    </div>

    <div class="form-group col-md-3">
      <label for="recharge">Recharge</label>
      <input type="number" name="recharge" id="recharge" class="form-control" placeholder="recharge">
    </div>

    <div class="form-group col-md-3">
        <label for="collection_all_time">Collection all time</label>
        <input type="number" name="collection_all_time" id="collection_all_time" class="form-control" placeholder="Collection">
    </div>

    <div class="form-group col-md-3">
        <label for="withdraw">Withdraw</label>
        <input type="number" name="withdraw" id="withdraw" class="form-control" placeholder="withdraw till date">
      </div>

    
  
    <div class="form-group col-md-3">
      <input type="submit" value="Initialise" class="btn">
    </div>
</form>