#creditor-list-page {
  padding: 10px;
  width: 100%; }
  #creditor-list-page #creditor-search-container {
    height: 50px;
    background-color: #C4C4C4;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto; }
    #creditor-list-page #creditor-search-container #search-cont {
      padding-left: 10px; }
    #creditor-list-page #creditor-search-container #new-creditor-btn-cont {
      padding-right: 10px; }
