<form action="" method="post">
    <h1>loan taker details</h1>
    <input type="text" name="takerName" id="takerName" placeholder="Name(money taker)" required>
    <input type="text" name="takerAddress" id="takerAddress" placeholder="Address" required>
    <input type="text" name="takerShop" id="takerShop" placeholder="Shop" >
    <input type="text" name="takerMobileNumber" id="takerMobileNumber" placeholder="Mobile Number" required>
    <input type="text" name="guarantorName" id="guarantorName" placeholder="Guarantor Name" required>
    <input type="text" name="guarantorNumber" id="guarantorNumber" placeholder="Guarantor Number" required>
    <input type="text" name="guarantorAddress" id="guarantorAddress" placeholder="Guarantor Address" required>
    <h1>Money details</h1>
    <input type="text" name="amountCredit" id="amount">


</form>