<link rel="stylesheet" href="/css/new_creditor.css">
<section id="new_creditor">
    <div class="box">
        <div class="form-heading">
            Create a new Debitor
        </div>
        <div class="form-container">
            <form action="" method="post">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="deb-name">Name of Amount taker*</label>
                        <input type="text" name="deb-name" id="deb-name" placeholder="Name.." class="form-control" required>    
                    </div >
                    <div class="form-group col-md-3">
                        <label for="deb-mob-1">Mobile Number</label>
                        <input type="number" name="deb-mob-1" id="deb-mob-1" placeholder="Mobile Number" class="form-control" required>                    
                    </div>
                </div>


                <div class="form-group col-md-3">
                    <label for="deb-mob-2">Mobile Number Alt-1</label>
                    <input type="number" name="deb-mob-2" id="deb-mob-2" class="form-control" placeholder="Mobile Number">                    
                </div>

                <label for="deb-mob-3">Mobile Number Alt-2</label>
                <input type="number" name="deb-mob-3" id="deb-mob-3" placeholder="Mobile Number">

                <label for="deb-shop">Shop</label>
                <input type="text" name="deb-shop" id="deb-shop" placeholder="Shop...">

                <label for="deb-address">Address</label>
                <input type="text" name="deb-address" id="deb-address" required>

                <label for="deb-guar-name">Guarentor Name</label>
                <input type="text" name="deb-guar-name" id="deb-guar-name" placeholder="Name">

                <label for="deb-guar-mob-1">Guarentor Number</label>
                <input type="number" name="deb-guar-mob-1" id="deb-guar-mob-1" placeholder="Mobile Number">

                <label for="deb-guar-mob-2">Guarentor Number Alt-1</label>
                <input type="number" name="deb-guar-mob-2" id="deb-guar-mob-2" placeholder="Mobile Number">

                <label for="deb-guar-mob-3">Guarentor Number Alt-2</label>
                <input type="number" name="deb-guar-mob-3" id="deb-mob-guar-3" placeholder="Mobile Number">

                <label for="deb-comment">Comment</label>
                <input type="text" name="deb-comment" id="deb-comment" placeholder="Comment">

                <input type="submit" value="Create New Debitor" class="btn">
            </form>
        </div>
    </div>
</section>

<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>