#header-main{
    height: 120px;
    width:max-content;
    display: grid;
    grid-template-columns: auto 400px;

    #logo-container{
        height: 100px;
        img{
            height: 100px;
            width:auto;
        }
    }
    #horizontal-menu-bar{


        ul{
            list-style-type: none;

    
        }

    }
}